<div class="jumbotron">
  <h1><center>Welcome to SouthWest Lexus Dealership</center></h1>

  <h2 class="text center">
    This application is used to manage inventory, track sales to customers,
    and provide quotes to customers looking to purchase a car.
  </h2>
</div>

<center><%= link_to image_tag("dealership.jpg", alt: "Dealership Picture")%></center>



