<%= form_for @quote, :html => { :class => "form-horizontal"} do |f| %>
    <% if @quote.errors.any? %>
        <div id="error_explanation">
          <div class = "alert alert-danger">
            <%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:
          </div>

          <ul>
            <% @quote.errors.full_messages.each do |message| %>
                <li class="alert alert-danger"><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <fieldset style="background-color: #f8f5f0; opacity: 1; border: 1px solid #c0c0c0;
            margin: 0 2px; padding: 0.35em 0.625em 0.75em;" >
      <legend>Fill out Quote Information</legend>
      <div class="form-group">
        <%= f.label :salesperson_id, :class => 'col-lg-2 control-label' %><br>
        <div class="col-lg-10">
          <%= f.collection_select :salesperson_id, Salesperson.all, :id, :full_name,
                                  {prompt: "Select a Salesperson"}, {class: "form-control"} %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :customer_id, :class => 'col-lg-2 control-label' %><br>
        <div class="col-lg-10">
          <%= f.collection_select :customer_id, Customer.all, :id, :full_name,
                                  {prompt: "Select a Customer"}, {class: "form-control"} %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :car_id, :class => 'col-lg-2 control-label' %><br>
        <div class="col-lg-10">
          <%= f.collection_select :car_id, Car.all, :id, :car_sold,
                                  {prompt: "Select a Car"},
                                  {class: "form-control"} %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :wholesale_price, 'Retail Price: ', :class => 'col-lg-2 control-label' %><br>
        <div class="col-lg-10">
          <%= f.text_field :wholesale_price, :class => 'form-control', :readonly => true %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :markup_price, 'Markup Price: ', :class => 'col-lg-2 control-label' %><br>
        <div class="col-lg-10">
          <%= f.text_field :markup_price, :class => 'form-control', :readonly => true %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :sales_tax, 'Sales Tax (4.3%): ',:class => 'col-lg-2 control-label' %><br>
        <div class="col-lg-10">
          <%= f.text_field :sales_tax, :class => 'form-control', :readonly => true %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :final_price, 'Total Price:', :class => 'col-lg-2 control-label' %><br>
        <div class="col-lg-10">
          <%= f.text_field :final_price, :class => 'form-control', :readonly => true %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :salestatus, 'Sold', :class => 'col-lg-2 control-label'%><br>
        <div class="col-lg-10">
          <%= f.check_box :salestatus, :class => 'checkbox' %>
        </div>


      </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <%= f.submit 'Submit Quote', :class => 'btn btn-primary' %>
          <%= link_to 'Cancel',quotes_path, :class => 'btn btn-default' %>
        </div>
      </div>
    </fieldset>

<% end %>



