
<% if notice %><p class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button><%= notice %></p><% end %>


<h1>Customer Quotes</h1>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Salesperson</th>
    <th>Customer</th>
    <th>Car</th>
    <th>Retail Price</th>
    <th>Markup Price</th>
    <th>Sales Tax</th>
    <th>Total Price</th>
    <th>Quote status</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.salesperson.full_name %></td>
        <td><%= quote.customer.full_name %></td>
        <td><%= quote.car.car_details %></td>
        <td><%= number_to_currency(quote.wholesale_price) %></td>
        <td><%= number_to_currency(quote.markup_price) %></td>
        <td><%= number_to_currency(quote.sales_tax) %></td>
        <td><%= number_to_currency(quote.final_price) %></td>
        <td><%= quote.boolean_name %></td>
        <td><%= link_to 'Edit', edit_quote_path(quote), :class => 'btn btn-success btn-sm' %></td>
        <td><%= link_to 'Delete', quote, method: :delete, data: { confirm: 'Are you sure?' },
                        :class => 'btn btn-danger btn-sm'%></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Quote', new_quote_path, :class => 'btn btn-primary' %>
