
<% if notice %><p class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button><%= notice %></p><% end %>

<p>
  <strong>Salesperson:</strong>
  <%= @quote.salesperson.full_name %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @quote.customer.full_name %>
</p>

<p>
  <strong>Car:</strong>
  <%= @quote.car.car_details %>
</p>

<p>
  <strong>Retail Price:</strong>
  <%= number_to_currency(@quote.wholesale_price) %>
</p>

<p>
  <strong>Markup Price:</strong>
  <%= number_to_currency(@quote.markup_price) %>
</p>

<p>
  <strong>Sales Tax (4.3%):</strong>
  <%= number_to_currency(@quote.sales_tax) %>
</p>

<p>
  <strong>Total Price:</strong>
  <%= number_to_currency(@quote.final_price) %>
</p>

<p>
  <strong>Quote status:</strong>
  <%= @quote.boolean_name %>
</p>


<%= link_to 'Edit', edit_quote_path(@quote), :class => 'btn btn-primary btn-sm' %> |
<%= link_to 'Go Back', quotes_path, :class => 'btn btn-primary btn-sm' %>
