<h1>Editing Salesperson</h1>

<%= render 'form' %>

<%= link_to 'Show', @salesperson, :class => 'btn btn-primary btn-sm' %> |
<%= link_to 'Go Back', salespeople_path, :class => 'btn btn-primary btn-sm' %>
