<%= form_for(@customer) do |f| %>
    <% if @customer.errors.any? %>
        <div id="error_explanation">
          <div class = "alert alert-danger">
            <%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:
          </div>
          <ul>
            <% @customer.errors.full_messages.each do |message| %>
                <li class="alert alert-danger"><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <form class="form-horizontal">
      <fieldset style="background-color: #f8f5f0; opacity: 1; border: 1px solid #c0c0c0;
              margin: 0 2px; padding: 0.35em 0.625em 0.75em;">
        <legend>Fill out Customer Information</legend>
        <div class="form-group">
          <%= f.label :last_name, :class => 'col-lg-2 control-label' %><br>
          <div class="col-lg-10">
            <%= f.text_field :last_name, :class => 'form-control', :placeholder => 'Luong' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :first_name, :class => 'col-lg-2 control-label' %><br>
          <div class="col-lg-10">
            <%= f.text_field :first_name, :class => 'form-control', :placeholder => 'Tina' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :address, :class => 'col-lg-2 control-label' %><br>
          <div class="col-lg-10">
            <%= f.text_field :address, :class => 'form-control', :placeholder => '8500 Neff St. Houston, TX 77072' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :phone, :class => 'col-lg-2 control-label' %><br>
          <div class="col-lg-10">
            <%= f.text_field :phone, :class => 'form-control', :placeholder => '(713) 815-4996'%>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :email, :class => 'col-lg-2 control-label' %><br>
          <div class="col-lg-10">
            <%= f.text_field :email, :class => 'form-control', :placeholder => 'tinaluong@uh.edu' %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <%= f.submit 'Submit', :class => 'btn btn-primary' %>
            <%= link_to 'Cancel',customers_path, :class => 'btn btn-default' %>
          </div>
        </div>
      </fieldset>
    </form>
<% end %>

