<%= form_tag customers_path, :html => { :class => "form-horizontal"}, :method => 'get',
             :id => "customers_search" do %>
    <fieldset style="background-color: #f8f5f0; opacity: 1; border: 1px solid #c0c0c0;
            margin: 0 2px; padding: 0.35em 0.625em 0.75em;" >
      <legend>Enter Customer's Last Name to Search for Customer</legend>
      <%= text_field_tag :search, params[:search], :id => "filter", placeholder: "Smith" %>
      <%= submit_tag "Search", :last_name => nil, :class => 'btn btn-default btn-sm' %>
    </fieldset>

<% end %>
<center><div class = "pagination pagination-sm">
  <%= will_paginate @customers , renderer: BootstrapPagination::Rails %>
</div></center>

<% if notice %><p class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button><%= notice %></p><% end %>
<% if alert %><p class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">×</button><%= alert %></p><% end %>

<h1>Customers</h1>

<table class="table table-striped table-hover">
  <thead>

  <tr>
    <th>Last name</th>
    <th>First name</th>
    <th>Address</th>
    <th>Phone</th>
    <th>Email</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.last_name %></td>
        <td><%= customer.first_name %></td>
        <td><%= customer.address %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.email %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer), :class => 'btn btn-success btn-sm' %></td>
        <td><%= link_to 'Delete', customer, method: :delete, data: { confirm: 'Are you sure?' },
                        :class => 'btn btn-danger btn-sm' %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<center><div class = "pagination pagination-sm">
  <%= will_paginate @customers , renderer: BootstrapPagination::Rails %>
</div></center>
<br>


<%= link_to 'Create New Customer', new_customer_path, :class => 'btn btn-primary' %>
