<% if notice %><p class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button><%= notice %></p><% end %>

<div class = "page-header">
  <h1>Sales Report</h1>
</div>
<p><%= link_to "Print PDF", report_index_path(@report, :format => 'pdf'), :class => 'btn btn-success' %></p>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Gross Revenue</th>
    <th>Net Profit</th>
    <th>Total Sales Tax</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>

  <tr>

    <td><%= number_to_currency(Quote.where(:salestatus => true).sum(:final_price)) %></td>
    <td><%= number_to_currency(Quote.where(:salestatus => true).sum(:final_price) -
                                       Quote.where(:salestatus => true).sum(:wholesale_price)) %></td>
    <td><%= number_to_currency(Quote.where(:salestatus => true).sum(:sales_tax)) %></td>

  </tr>

  </tbody>
</table>

<br>

<h2>List of Sold Cars</h2>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Salesperson</th>
    <th>Car</th>

    <th>Retail price</th>
    <th>Markup price</th>
    <th>Sales tax</th>
    <th>Total price</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.salesperson.full_name %></td>
        <td><%= quote.car.car_details %></td>
        <td><%= number_to_currency(quote.wholesale_price) %></td>
        <td><%= number_to_currency(quote.markup_price) %></td>
        <td><%= number_to_currency(quote.sales_tax) %></td>
        <td><%= number_to_currency(quote.final_price) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'See All Quotes', quotes_path, :class => 'btn btn-primary' %>
