<%= form_for(@loan) do |f| %>
    <% if @loan.errors.any? %>
        <div id="error_explanation">
          <div class = "alert alert-danger">
            <%= pluralize(@loan.errors.count, "error") %> prohibited this loan from being saved:
          </div>
          <ul>
            <% @loan.errors.full_messages.each do |message| %>
                <li class="alert alert-danger"><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <form class="form-horizontal">
      <fieldset style="background-color: #f8f5f0; opacity: 1; border: 1px solid #c0c0c0;
              margin: 0 2px; padding: 0.35em 0.625em 0.75em;" >
        <legend>Fill out Loan Information</legend>
        <div class="form-group">
          <%= f.label :quote_id, :class => 'col-lg-2 control-label', :for => 'select' %><br>
          <div class="col-lg-10">
            <%= f.collection_select :quote_id, Quote.all, :id, :quote_info,
                                    {prompt: "Select a quote", selected: "get_current_final_price_or_nil"},
                                    {class: "form-control"}%>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :down_payment, :class => 'col-lg-2 control-label' %><br>
          <div class="col-lg-10">
            <%= f.text_field :down_payment, :class => 'form-control', :placeholder => '2000' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :loan_amount, 'Principal Balance', :class => 'col-lg-2 control-label' %><br>
          <div class="col-lg-10">
            <%= f.text_field :loan_amount, :class => 'form-control', :readonly => true %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :term, 'Loan term (in years)', :class => 'col-lg-2 control-label'%><br>
          <div class="col-lg-10">
            <%= f.select :term, options_for_select(loan_term),
                                    {prompt: "Select a term"},
                                    {class: "form-control"} %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :interest_rate, 'Interest rate (%)', :class => 'col-lg-2 control-label' %><br>
          <div class="col-lg-10">
            <%= f.text_field :interest_rate, :class => 'form-control', :placeholder => '1.5' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :monthly_payment, :class => 'col-lg-2 control-label' %><br>
          <div class="col-lg-10">
            <%= f.text_field :monthly_payment, :class => 'form-control', :readonly => true %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <%= f.submit 'Submit Loan', :class => 'btn btn-primary' %>
            <%= link_to 'Cancel',loans_path, :class => 'btn btn-default' %>
          </div>
        </div>
      </fieldset>
    </form>
    <!-- Table will be inserted here -->
    <div id="loan-table" class="table-format"></div>
<% end %>


