<% if notice %><p class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button><%= notice %></p><% end %>

<p>
  <strong>Car Price:</strong>
  <%= @loan.quote.quote_info %>
</p>

<p>
  <strong>Down payment:</strong>
  <%= number_to_currency(@loan.down_payment) %>
</p>

<p>
  <strong>Loan amount:</strong>
  <%= number_to_currency(@loan.loan_amount) %>
</p>

<p>
  <strong>Loan term (years):</strong>
  <%= @loan.term %>
</p>

<p>
  <strong>Interest rate (%):</strong>
  <%= number_to_percentage((@loan.interest_rate), precision: 2) %>
</p>

<p>
  <strong>Monthly payment:</strong>
  <%= number_to_currency(@loan.monthly_payment) %>
</p>

<%= render 'loan_table' %>

<%= link_to 'Edit', edit_loan_path(@loan), :class => 'btn btn-primary btn-sm' %> |
<%= link_to 'Go Back', loans_path, :class => 'btn btn-primary btn-sm' %>
