
<%= form_for(@car) do |f| %>
    <% if @car.errors.any? %>
        <div id="error_explanation">
          <div class = "alert alert-danger">
            <%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:
          </div>
          <ul>
            <% @car.errors.full_messages.each do |message| %>
                <li class="alert alert-danger"><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <form class="form-horizontal">
      <fieldset style="background-color: #f8f5f0; opacity: 1; border: 1px solid #c0c0c0;
              margin: 0 2px; padding: 0.35em 0.625em 0.75em;" >
        <legend>Fill out Car Information</legend>
        <div class="form-group">
          <%= f.label :model, :class => 'col-lg-2 control-label' %><br>
          <div class="col-lg-10">
            <%= f.text_field :model, :class => 'form-control', :placeholder => 'Coupe Lexus RC 350' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :color, :class => 'col-lg-2 control-label'%><br>
          <div class="col-lg-10">
            <%= f.text_field :color, :class => 'form-control', :placeholder => 'White' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :vin, :class => 'col-lg-2 control-label' %><br>
          <div class="col-lg-10">
            <%= f.text_field :vin, :class => 'form-control', :placeholder => '17-digit VIN code' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :retailprice, :class => 'col-lg-2 control-label' %><br>
          <div class="col-lg-10">
            <%= f.text_field :retailprice, :class => 'form-control', :placeholder => '35000' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :carstatus, 'Sold', :class => 'col-lg-2 control-label'%><br>
          <div class="col-lg-10">
            <%= f.check_box :carstatus, :class => 'checkbox' %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <%= f.submit 'Submit', :class => 'btn btn-primary' %>
            <%= link_to 'Cancel',cars_path, :class => 'btn btn-default' %>
          </div>
        </div>
      </fieldset>
    </form>
<% end %>
