<%= form_tag cars_path, :html => { :class => "form-horizontal"}, :method => 'get', :id => "search_car" do %>
    <fieldset style="background-color: #f8f5f0; opacity: 1; border: 1px solid #c0c0c0;
            margin: 0 2px; padding: 0.35em 0.625em 0.75em;" >
      <legend>Enter Model, Color, or VIN to Search for Car</legend>
      <%= text_field_tag :search_car, params[:search_car], placeholder: "Lexus IS 250", :id => 'search_field' %>
      <%= submit_tag "Search", :model => nil, :color =>  nil, :vin => nil, :class => 'btn btn-default  btn-sm' %>
    </fieldset>
<% end %>

<center><div class = "pagination pagination-sm">
  <%= will_paginate @cars , renderer: BootstrapPagination::Rails %>
</div></center>
<% if notice %><p class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button><%= notice %></p><% end %>
<% if alert %><p class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">×</button><%= alert %></p><% end %>

<h1>Cars Inventory</h1>

<table class="table table-striped table-hover ">
  <thead>
  <tr>
    <th>Model</th>
    <th>Color</th>
    <th>VIN</th>
    <th>Retail Price</th>
    <th>Markup Price</th>
    <th>Car Status</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @cars.each do |car| %>
      <tr>
        <td><%= car.model %></td>
        <td><%= car.color %></td>
        <td><%= car.vin %></td>
        <td><%= number_to_currency(car.retailprice) %></td>
        <td><%= number_to_currency(car.markupprice) %></td>
        <td><%= car.boolean_name %></td>
        <td><%= link_to 'Edit', edit_car_path(car), :class => 'btn btn-success btn-sm' %></td>
        <td><%= link_to 'Delete', car, method: :delete, data: { confirm: 'Are you sure?' },
                        :class => 'btn btn-danger btn-sm' %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<center><div class = "pagination pagination-sm">
  <%= will_paginate @cars , renderer: BootstrapPagination::Rails %>
</div></center>

<br>

<%= link_to 'Create New Car', new_car_path, :class => 'btn btn-primary' %>
