<!DOCTYPE html>
<html lang="en">
<head>
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
  <![endif]-->

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <title><%= content_for?(:title) ? yield(:title) : "Southwest Lexus Dealership" %></title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="http://bootswatch.com/sandstone/bootstrap.css" type="text/css" />


</head>

<!-----------------
     NAVIGATION BAR

---------------->

<body>

<div class="navbar-wrapper">
  <div class="container">
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" type="button">
        <span class="sr-only">
          Toggle navigation
        </span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            SW Lexus Dealership
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><%= link_to "Home", controller: "homepage", action: "index" %></li>
            <li class="dropdown">
              <a class="dropdown-toggle" aria-expanded="true" role="button" data-toggle="dropdown" href="#">
                Sales
                <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "Look Up Customer", controller: "customers", action: "index" %></li>
                <li><%= link_to "Look Up Car", controller: "cars", action: "index" %></li>
                <li><%= link_to "Create Quote", controller: "quotes", action: "index" %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" aria-expanded="true" role="button" data-toggle="dropdown" href="#">
                Sales Manager
                <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "Manage Salesperson", controller: "salespeople", action: "index" %></li>
                <li><%= link_to "Cars Sales Report", controller: "salesreport", action: "index" %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" aria-expanded="true" role="button" data-toggle="dropdown" href="#">
                Finance
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Create Quote", controller: "quotes", action: "index" %></li>
                <li><%= link_to "Create Loan", controller: "loans", action: "index" %></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" aria-expanded="true" role="button" data-toggle="dropdown" href="#">
                Inventory
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Manage Cars Inventory", controller: "cars", action: "index" %></li>
              </ul>
            </li>
            <li class="dropdown pull-right">
              <a class="dropdown-toggle" aria-expanded="true" role="button" data-toggle="dropdown" href="#">
                General Manager
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Total Sales Report", controller: "report", action: "index" %></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

    </nav>
  </div>

  <!---------

  CAROUSEL

  ----------->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li class="active" data-slide-to="0" data-target="#myCarousel"></li>
      <li class="" data-slide-to="1" data-target="#myCarousel"></li>
      <li class="" data-slide-to="2" data-target="#myCarousel"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= link_to image_tag("lexus_three.jpg", :alt => "First Slide"), {:class => "first-slide"} %>
        <div class="container">
          <div class="carousel-caption">
            <h1>
              THE ALL-NEW RC
            </h1>
            <h3>Fasten Your Everything</h3>
          </div>
        </div>
      </div>

      <div class="item">
        <%= link_to image_tag("lexus_two.jpg", :alt => "Second Slide"), {:class => "second-slide"} %>
        <div class="container">
          <div class="carousel-caption">
            <h1>
              THE CRAFTED LINE
            </h1>
            <h3>Get In, Stand Out</h3>
          </div>
        </div>
      </div>
      <div class="item">
        <%= link_to image_tag("lexus_four.jpg", :alt => "Third Slide"), {:class => "third-slide"} %>
        <div class="container">
          <div class="carousel-caption">
            <h1>
              THE 2015 RX
            </h1>
            <h3>Never Lose Your Edge</h3>
          </div>
        </div>
      </div>
    </div>

    <!---------

CAROUSEL LEFT AND RIGHT CONTROLS

----------->

    <a class="left carousel-control" data-slide="prev" role="button" href="#myCarousel">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">
        Previous
    </span>
    </a>

    <a class="right carousel-control" data-slide="next" role="button" href="#myCarousel">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">
                        Next
                    </span>
    </a>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="span10"><%= yield %></div>
        <div class="span2"></div>
      </div>
      <br>
      <br>


    </div>

  </div> <!-- /container -->
  <div class="footer-wrapper">

    <h5 class="muted credit text-center">
      <footer> &copy; Tina Luong 2015 </footer>
    </h5>

  </div>
</div>
</body>
</html>